@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    @apply m-0 p-0 bg-white font-poppins;
  }
  .nav-icon {
    @apply text-black opacity-20 text-[20px];
  }
  .profiles {
    position: relative;
  }
  .profiles img {
    position: relative;
  }
  .cards-section {
    overflow-y: auto;
    width: 100%;
  }
  .row {
    @apply bg-boz rounded-[10px] mb-[10px] p-[15px];
  }
  .column {
    overflow-y: auto;
  }
  .tag {
    display: inline-block;
    width: 60px;
    height: 8px;
    border-radius: 8px;
  }
}

@layer base {
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/poppins-regular-webfont.woff2) format("woff2");
  }
}
