.cards-section::-webkit-scrollbar{
    width: 14px;
    left: 300px;
}
.cards-section::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.06);
}
.cards-section::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.3);
}
